/* naming scheme is a mix of BEM and SMACSS */
/* since just the landing page is needed, only one css file */

/* --- root variables --- */

:root {
    --primary-theme-color: #0060df;
    --secondary-theme-color: #003eaa;
    --primary-text-color: #15141A;
    --secondary-text-color: #5B5B66;
    --light-color: #fff;
    --staff-color: #000;
}

/* --- fonts --- */

/* for title */
@font-face {
    font-family: "Tiempos Headline";
    src: url(../fonts/tiempos-headline.otf) format("opentype");
}

/* for other headings */
@font-face {
    font-family: "Freight";
    src: url(../fonts/freight.otf) format("opentype");
}

/* for body text */
@font-face {
    font-family: "Chivo";
    src: url(../fonts/chivo.ttf) format("truetype");
}

/* for icons */
@font-face {
    font-family: "FA-Solid";
    src: url(../fonts/fa-solid-900.ttf) format("truetype");
}

/* --- html elements --- */
/* mostly for resetting default values */

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

html {
    font-family: "Chivo", "Calibri";
    color: var(--primary-text-color);
}

a:hover {
    cursor: pointer;
}

a {
    color: unset;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: unset;
    font-weight: unset;
    color: unset;
    margin: 0;
}

p {
    margin: 0;
}

/* --- classes (components) --- */

/* nav */

.c-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    height: 88px;
    width: 100%;
    background: var(--theme-color); /* transparent bg to be done through js */
}

.c-nav__content {
    width: 80%;
    height: 80%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-nav__left {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.c-nav__left a {
    font-size: 0.875rem;
}

.c-nav__right {
    display: none; /* display: block to be done through js */
}

.c-nav__logo img {
    height: 32px;
    width: auto;
}

.c-nav__link {
    color: #fff;
    box-sizing: border-box;
    padding-bottom: 3px;
    margin: 0;
    padding-inline: 0;
}

.c-nav__link:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--light-color);
}

.c-nav__link--dropdown {
    display: flex;
    gap: 5px;
}

.c-nav__link--dropdown img {
    height: 15px;
    width: auto;
    align-self:flex-end;
}

.c-nav__dropdown {
    position: relative;
}

.c-nav__dropdown-content {
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -70%;
    top: 20px;
    background: var(--light-color);
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}

.c-nav__dropdown-content img {
    width: 15px;
    height: auto;
}

.c-nav__dropdown-content > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.c-nav__dropdown:hover .c-nav__dropdown-content {
    display: flex;
}

.c-nav__dropdown-content:hover {
    display: flex;
}

/* header */

.c-header {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* background images */
.c-header > img {
    z-index: -2;
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    z-index: 1;
}

.c-header__content h1 {
    font-family: "Tiempos Headline", "Calibri";
    font-size: 6rem;
    line-height: 0.8;
    margin: 40px 0;
}

.c-header__content p {
    margin: 0;
}

.c-header__content a {
    margin: 30px 0 0 0;
}

.c-header__content h1, .c-header__content p {
    color: #fff;
}

.c-header__filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #0c1a32;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

/* home section */

.c-home {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.c-home p:first-child {
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.c-home p:nth-child(2) {
    font-family: "Tiempos Headline";
    color: var(--secondary-theme-color);
    font-size: 2rem;
}

.c-home div:first-child {
    width: 35%;
}

.c-home div:last-child {
    flex-grow: 1;
}

.c-home iframe {
    border: 3px solid black;
}

.c-footer {
    background-image: url(/images/footer-bg.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 350px;
    gap: 50px;
    position: relative;
}

.c-footer div, .c-footer a, .c-footer h2 {
    z-index: 2;
}

.c-footer > div:nth-child(2) {
    font-family: "Tiempos Headline";
    font-size: 30px;
    color: #fff;
}

.c-footer h2, .c-footer p {
    text-align: center;
}

.c-footer > div:last-child {
    margin-top: 20px;
    font-size: 12px;
    color: #B6B9BF;
}

.c-footer__filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #181a1d;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}


/* --- classes (objects) --- */

/* "apply now" button */
.o-apply-button {
    font-size: 0.875rem;
    padding: 10px 15px;
    background: var(--light-color);
    border-radius: 5px;
    color: var(--secondary-theme-color);
    font-weight: bolder;
}

.o-apply-button:hover {
    opacity: 0.8;
}

/* sections */

.o-section {
    margin: 0 auto;
    padding: 40px 0 60px 0;
    width: 80%;
}

.o-section h2 {
    font-family: "Tiempos Headline";
    font-size: 2.5rem;
    text-align: center;
    color: #323232;
    margin-bottom: 30px;
}

/* cluster sections */

.o-cluster__staff-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.o-cluster__staff {
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    width: 320px;
    height: fit-content; /* og 160px */
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.o-cluster__staff p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.o-cluster__staff h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--staff-color);
}

.o-cluster__staff h3::after {
    font-family: "FA-Solid";
    content: "\f061";
    margin-left: 10px;
}
